*~
*.swp

bin/*.dll
bin/*.exe

lib/*.jar

classpath/**/*.class

openjdk/*.dll
openjdk/*.jar
openjdk/**/*.class
openjdk/allsources.gen.lst
openjdk/resources.zip
openjdk/response.gen.txt
openjdk/tools.gen.rsp
openjdk/vfs.zip

runtime/*.dll
runtime/*.jar

tools/*.exe
