*~
*.swp

bin/*.dll
bin/*.exe
bin/*.pdb

bin-x64/jvm.dll
bin-x86/jvm.dll

lib/*.jar

classpath/**/*.class

openjdk/*.dll
openjdk/*.jar
openjdk/*.pdb
openjdk/**/*.class
openjdk/allsources.gen.lst
openjdk/resources.zip
openjdk/response.gen.txt
openjdk/tools.gen.rsp
openjdk/vfs.zip

runtime/*.dll
runtime/*.jar
runtime/*.pdb

tools/*.exe
